@import 'responsiveCss/footer_responsive.css';
footer{
    width: 100%;
    height: 250px;
    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b1bcb8;
}
.footer-container{
    min-width: 80%;
    max-width: 80%;
    height: 100%;
}
.footer-container>.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 30px;
}
.grid-item .address{
    display: flex;
    flex-shrink: 0;
    gap: 20px;
    line-height: 30px;
}
.grid-item img{
    height: 40px;
    margin-top: 5px;
}
.grid-item  .grid-title{
    font-size: 18px;
}
.address  p{
    font-size: 18px;
    font-weight: lighter;
}
.grid-item .social-media{
    width: 100%;
    margin-top: 20px;
    display: flex;
    gap: 25px;
}
.social-media .social-icons{
    font-size: 35px;
    color: #505050;
    transition: all 0.2s;
}
.social-icons:hover{
    color: #ffffff;
}
.grid-item.artikel {
    display: flex;
    flex-direction: column;
    gap: 30px;  
}
.grid-item.artikel a{
    font-size: 18px;
    color: #505050;
    transition: all 0.2s;
}
.grid-item.artikel a:hover{
    color: #ffffff;
}   
