@import './responsiveCss/header_responsive.css';
*{
    flex-shrink: 0;
}
header {
    height: 80px;
    padding: 0 120px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

header .logo {
    display: flex;
    margin-right: auto;
}

.logo-container{
    display: flex;
}

.logo .logo-img {
    height: 50px;
}

.logo .carrier-btn {
    align-self: flex-end;
    height: 25px;
    color: #505050;
    padding: 5px 8px;
    margin-left: 15px;
    border-radius: 2px;
    border: 1px solid #ccc;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: lighter;
    transition: all .3s;
}

.logo .carrier-btn::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    border: 5px solid;
    border-color: transparent #505050 transparent transparent;
}
.logo .carrier-btn:hover{
    transition: all .2s ease-in-out;
    transform: scale(1.01);
}
.mobile-menu{
    cursor: pointer;
    font-size: 28px;
    opacity: 0;
    display: none;
}
.mobile-menu i{
    padding: 0 20px;
}
menu {
    display: flex;
    gap: 10px;

}

menu>.menu-item {
    display: block;
    color: #505050;
    padding: 10px;
    transition: all .2s linear;
    text-underline-offset: 5px;
    text-decoration: underline 1px rgba(0, 0, 0, 0);
}

menu>.menu-item:hover {
    color: #ccc;
    text-underline-offset: 5px;
    text-decoration: underline 1px #ccc;
    transition: all .2s linear;
}