.toolbar-container {
  height: 100%;
  border: 1px solid var(--black--);
  background-color: rgb(74, 74, 74);
  color: rgb(238, 238, 238);
  flex: 3;
  transition: all 0.3s;
}

.mobile-menu-icon i {
  display: none;
  margin: 1rem;
  cursor: pointer;
  z-index: 5;
  color: var(--gray-background--);
  font-size: 1.6rem;
}

.menu {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.menu-item {
  border-bottom: 1px solid rgb(51, 51, 51);
}

.menu-item:last-child {
  margin-top: auto;
  border-bottom: 0px;
}

li.active {
  color: var(--gray-background--);
  background-color: var(--black--);
}

.menu-item a {
  cursor: pointer;
  display: block;
  padding: 15px 20px;
}

.menu-item a:hover:not(li.active > a) {
  background-color: rgb(84, 84, 84);
}

.menu-item i {
  margin-right: 5px;
}

@media screen and (max-width: 767px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  .toolbar-container {
    flex: none;
    height: fit-content;
    overflow: hidden;
    transition: all 0.3s;
    width: 100%;
    background-color: #ffffff;
    color: var(--black--);
    display: flex;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.076);
  }
  .menu{
    flex: 1;
    height: 0;
    overflow: hidden;
    transition: height .3s .55s; 
  }
  .menu .menu-item{
    transform: translateX(-150%);
  }

  .menu.active{
    height: 100%;
    transition: all .95s;
  }

  .mobile-menu-icon{
    flex-shrink: 0;
  }

  .mobile-menu-icon i {
    display: block;
    color: var(--black--);
  }

  @keyframes mobile_menu-hide {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-150%);
    }
  }
  @keyframes mobile_menu-show {
    0% {
      transform: translateX(-150%);
    }
    100% {
      transform: translateX(0px);
    }
  }
  
  /* menu fade in */
  .menu.active .menu-item:nth-child(1) {
    animation: mobile_menu-show 0.3s ease-in-out 0s 1 forwards normal;
  }
  .menu.active .menu-item:nth-child(2) {
    animation: mobile_menu-show 0.3s ease-in-out 0.1s 1 forwards normal;
  }
  .menu.active .menu-item:nth-child(3) {
    animation: mobile_menu-show 0.3s ease-in-out 0.25s 1 forwards normal;
  }
  .menu.active .menu-item:nth-child(4) {
    animation: mobile_menu-show 0.3s ease-in-out 0.45s 1 forwards normal;
  }
  /* menu fade out */
  li.menu-item:nth-child(1) {
  animation: mobile_menu-hide 0.5s ease-in-out 0.5s 1 backwards normal;
  }
  
  li.menu-item:nth-child(2) {
  animation: mobile_menu-hide 0.5s ease-in-out 0.3s 1 backwards normal;
  }
  
  li.menu-item:nth-child(3) {
  animation: mobile_menu-hide 0.5s ease-in-out 0.2s 1 backwards normal;
  }
  
  li.menu-item:nth-child(4) {
  animation: mobile_menu-hide 0.5s ease-in-out 0s 1 backwards normal;
  }
}
