@media screen and (min-height: 260px) and (max-height: 760px) {
    main footer {
        height: 200px;
    }

    div.grid-item .address {
        line-height: 25px;
    }

    div.address p {
        font-size: 16px;
        font-weight: lighter;
    }

    div.grid-item .grid-title {
        font-size: 16px;
    }

    div.social-media .social-icons {
        font-size: 25px;
    }

    div.grid-item.artikel {
        gap: 20px;
    }
    div.grid-item.artikel a{
        font-size: 14px;
    }
}

@media screen and (min-width: 260px) and (max-width: 767px) {
    main footer {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .footer-container {
        width: 100%;
    }

    .footer-container>div.grid-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
    }

    .grid-container .grid-item>.address {
        gap: 20px;
        line-height: 25px;
    }
}