@media screen and (max-width:767px) {
    main {
        overflow: auto;
    }

    main header {
        height: 100px;
        padding: 0;
    }

    main .logo-container {
        flex: 2;
        justify-content: left;
        padding-left: 20px;

    }

    main .logo-container img {
        width: 50%;
    }

    header menu {
        flex: 3;
    }

    header menu ul {
        display: flex;
        justify-content: center;
        padding-right: 20px;
        column-gap: 20px;
        font-size: 14px;
    }

}